@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: black !important;
}

.imgBackground{
    background-image: url('/assets/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Navbar Section Style For All Pages */

#active-tab{
    color: red !important;
}

.navbar_section{
    top: 0px;
    width: 100vw;
}

.navbar_section .navbar-brand{
    font-size: 32px;
    font-weight: 600;
    padding: 0;
}

.navbar_section .navbar-brand span{
    color: red;
}

.navbar_section .navbar-toggler{
    font-size: 25px;
    box-shadow: none !important;
    border: none;
}

.navbar_section .navbar-toggler .fa-times{
    font-size: 29px;
    display: none;
}

.navbar_section .navbar-nav li a{
    color: black !important;
    font-size: 16px;
    font-weight: 600;
    margin: 2px 0px 0px 6px;
    text-decoration: none;
    transition: 0.5s ease;
}
.navbar_section .navbar-nav li a:hover{
    color: red !important;
    background: none;
}

.navbar_section .navbar-nav{
    background-color: white;
    margin-top: 10px;
}

.navbar_section .navbar-nav a{
    text-align: center;
}

/* Hero Section */

.hero_section{
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero_section h1{
    font-size: 35px;
    font-weight: 600;
}

.hero_section p{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
}

/* About Section */

.about_section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
}

.sectionTitle{
    font-size: 40px;
    padding-bottom: 40px;
}

.sectionTitle span{
    color: red !important;
    font-size: 20px !important;
}

.about_section img{
    margin-bottom: 60px;
}

.about_section .subTitleContainer{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

.about_section .subTitle{
    font-size: 30px !important;
}

.about_section .subTitle span{
    color: red !important;
}


.about_section .textField{
    font-size: 14.5px;
    text-align: left;
    padding: 0px 5px;
}


/* Committee Section */

.committee_section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
}

.committee_section h4{
    color: red !important;
}

.committee_section .sectionTitle{
    margin-top: 20px;
    padding-bottom: 20px;
}

.committee_section .committeeClick{
    cursor: pointer;
}

.committee_section i{
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
}

/* Contact Section */

.contact_section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px 40px 0px;
    margin-top: 40px;
}

.contact_section .sectionTitle{
    padding-bottom: 0px;
}

.contact_section .input-field{
    position: relative;
    height: 50px;
    width: 92vw;
    margin-top: 30px;
}

.contact_section .input-field .input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    padding: 0px 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #666666;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background-color: transparent;
    color: white !important;
}

.contact_section .input-field .input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

.contact_section .input-field .input:is(:focus, :valid){
    border-bottom: 2px solid red;
    background-color: transparent;
}

.contact_section .input-field i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 23px;
}

.contact_section .submitBtn{
    margin-top: 35px;
    margin-bottom: 100px;
}

.contact_section .submitBtn input{
    border: 2px solid transparent;
    color: black !important;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: red !important;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 35px;
}

.contact_section .submitBtn input:hover{
    border: 2px solid red;
    color: red !important;
    background-color: transparent !important;
}

.contact_section .contactTitle{
    color: red !important;
    font-size: 15px;
}

.contact_section .contactInfo{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 35px;
}

/* Footer Section */

.footer_section{
    width: 100%;
    text-align: center;
    color: grey;
    font-weight: 600;
    font-size: 16px;
    padding-top: 20px;
}

.footer_section .footerText span{
    color: red !important;
}

.footer_section .footerDisc{
    color: #666666 !important;
    font-weight: 300;
    margin-bottom: 20px;
}

.footer_section .footerDisc a{
    color: rgba(255,0,0,0.8) !important;
    text-decoration: none;
}
