<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Scanner - Fresher 2k23</title>
</head>
<body>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript" defer></script>
    <script src="/javascripts/adminScanner.js" type="text/javascript" defer></script>
    <div id="formModal" class="formModal">
        <div id="cameraFormContainer">
        </div>
    </div>
    <h1>SHUBHARAMBH</h1>
    <div id="reader"></div>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

        *{
            font-family: 'Poppins', sans-serif;
            color: white;
        }
        
        body{
            background-color: black !important;
            background-image: linear-gradient(to right, black, rgb(80,0,0)) !important;
            min-height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        h1{
            font-size: 40px;
        }

        .formModal{
            position: absolute;
            top: 0;
            left: 0;
            background-color: black;
            background-image: linear-gradient(to right, black, rgb(80,0,0)) !important;
            width: 100%;
            min-height: 90vh;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #reader{
            width: 90vw;
            overflow: hidden;
            height: 90vw;
            border: 5px solid red !important;
        }
    </style>
</body>
</html>
