<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Area - Freshers 2k23</title>
</head>
<body>

    <h2 class="title"><span>WELCOME</span><br><%= user.fullName.toUpperCase() %></h2>

    <a href="/admin/scanner">OPEN SCANNER</a>
    
    <a href="/admin/view-scanners">VIEW SCANNERS</a>
    
    <a href="" onclick="fetch('/admin/logout', { method: 'POST' }).then(res => res.json()).then(data => { if(data.success) window.open('/admin/login', '_self') })">LOGOUT</a>
    
    <a href="/admin/register">REGISTER SCANNER (ADMIN)</a>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

        *{
            font-family: 'Poppins', sans-serif;
            color: white;
        }

        body{
            background-color: black !important;
            background-image: linear-gradient(to right, black, rgb(80,0,0)) !important;
            min-height: 80vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

        .title{
            font-size: 40px;
            font-weight: 600;
        }

        .title span{
            color: red !important;
            font-size: 20px !important;
        }

        a{
            border: 2px solid transparent;
            color: white !important;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 1px;
            background-color: red !important;
            cursor: pointer;
            transition: all 0.3s ease;
            padding: 10px 15px;
            width: 70%;
            text-decoration: none;
        }

        a:hover{
            border: 2px solid red;
            color: red !important;
            background-color: transparent !important;
        }
    </style>
</body>
</html>
