<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login - Freshers 2k23</title>

    <!-- Local Files -->
    <!-- <link rel="stylesheet" href="/styles/account-login.css" type="text/css"> -->
</head>
<body>

    <div class="container">
        <div class="form">
            <span class="title">Login</span>

            <div class="notify-container" id="notify-container">
                <p class="notify-text" id="notify-text"></p>
            </div>

            <form class="the-form" id="the-form">

                <!-- email field -->
                <div class="input-field">
                    <input type="email" name="email" id="email" placeholder="Enter your email *" required>
                </div>

                <!-- password field -->
                <div class="input-field">
                    <input class="password" minlength="8" maxlength="100" type="password" name="password" id="password" placeholder="Enter password *" required>
                </div>

                <!-- submit button -->
                <div class="input-field button">
                    <input type="submit" value="Login Now">
                </div>

            </form>
        </div>
    </div>

    <!-- Scripts (Always at End of Body) -->
    <script>
        document.getElementById('the-form').addEventListener('submit', async (e) => {
    e.preventDefault()
    const { email, password } = Object.fromEntries(new FormData(e.target).entries())

    const fetchData = await fetch('/admin/login/post', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
            email: email,
            password: password,
        })
    })
    .then(res => res.json())
    .then(data => { return data })

    console.log(fetchData)

    if (fetchData.success) return window.open('/admin/area', '_self')



    if (fetchData.error === 'no_email') {
        window.alert("No Email Entered")
    }
    if (fetchData.error === 'no_password') {
        window.alert("No Password Entered")
    }
    if (fetchData.error === 'user_not_found') {
        window.alert("No User exists with this Email")
    }
    if (fetchData.error === 'wrong_password') {
        window.alert("Wrong Password Entered")
    }

})
    </script>
    
</body>
</html>