<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">Shubharambh</h1>
    <div class="imgContainer">
        <h3>Suroju Akshay Kumar</h3>
        <img height="200" width="200" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" alt="">
    </div>

    <style>
        body{
            background-image: linear-gradient(to top left, black, red);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 80vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img{
            border: 2px solid black;
        }
        .imgContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            height: 300px;
            width: 240px;
            border: 2px solid black;
        }
        .title{
            color: gold;
        }
    </style>
</body>
</html>
