<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Preview Meta Tags -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="QR - Freshers 2k23">
    <meta property="og:description" content="A new beginning, a fresh start,<br>and endless possibilities.">
    <meta property="og:url" content="https://shubharambh.net/qr">
    <meta property="og:site_name" content="Shubharambh - Freshers 2k23">
    <meta property="og:image" content="https://shubharambh.net/assets/favicon.ico">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="title">SHUBHARAMBH</h1>
        <div class="subContainer">
            <div class="subImgContainer">
                <div class="imgContainer">
                    <img id="QRImage" height="220" width="220" src="">
                </div>
            </div>
        </div>
        <h3 id="name" class="name"></h3>
        <h4 onclick="window.open('https://shubharambh.net', '_self')" id="studentId" class="studentId"></h4>
    </div>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
        body{
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(to top, red, black);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 100%;
            overflow: hidden;
        }
        .container{
            background: url('/assets/qr-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
        img{
            /* border: 2px solid black; */
            /* background-color: green; */
        }
        .subContainer{
            border: 4px solid white;
            padding: 14px;
            margin-top: 45px;
        }
        .subImgContainer{
            border: 4px solid red;
            padding: 15px;
        }
        .imgContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            height: 240px;
            width: 240px;
        }
        .title{
            padding-top: 60px;
            color: white;
            font-weight: bold;
            font-size: 45px;
        }
        .name{
            color: white;
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 10px;
        }
        .studentId{
            color: white;
            font-weight: 500;
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>

    <script>
        let image = document.getElementById('QRImage')
        let name = document.getElementById('name')
        let studentId = document.getElementById('studentId')

        let Base64String = window.location.pathname.replace('/qr/', '')
        
        let StudentJSON
        try{
            StudentJSON = JSON.parse(atob(Base64String))
        } catch(err){
            console.log(err)
            StudentJSON = undefined
        }

        if(StudentJSON){
            name.textContent = StudentJSON.fullName
            studentId.textContent = `CLICK TO EXPLORE WEBSITE`
            studentId.style['border-bottom'] = '3px solid white'
            image.src = `https://api.qrserver.com/v1/create-qr-code/?size=220x220&data=${Base64String}`
            document.title = `${StudentJSON.fullName} - Freshers 2k23`
        } else {
            name.textContent = 'Error Occurred'
            studentId.textContent = 'Wrong URL Entered'
            image.src = '/assets/error.png'
            document.title = `QR Error - Freshers 2k23`
        }

        
        // image.src = Base64String

    </script>
</body>
</html>
