<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript" defer></script>
    <script src="/javascripts/scanner.js" type="text/javascript" defer></script>
    <div id="reader"></div>    
</body>
</html>
